
/*
========================================
	(1.3) Google Font 

    font-family: 'Exo', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

========================================
*/
 
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,700&family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*

/*
========================================
	(1.2) Fontawesome Style
========================================
*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.css');


/*


/*
========================================
	(1.2) Extarnel Style
========================================
*/

@import url('https://cdn.boomcdn.com/libs/owl-carousel/2.3.4/assets/owl.carousel.min.css');
@import url('https://cdn.boomcdn.com/libs/owl-carousel/2.3.4/assets/owl.theme.default.min.css');


/*

========================================
	Home Hero Carousal Style
========================================
*/
 
 

body {
    margin: 0;
    font-family: Open Sans;
}
.section_container {
    width: 1200px;
    margin: 0 auto;
}


@media (max-width: 1024px) {
    .section_container {
        width: 992px;
        margin: 0 auto;
    }
    
}

@media (max-width: 768px) {
    .section_container {
        width:100%;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .section_container {
        width:100%;
        margin: 0 auto;
    }
}

@media (max-width: 479px) {
    .section_container {
        width:100%;
        margin: 0 auto;
    }
}


.pt{
    padding-top: 80px;
}
.pb{
    padding-bottom: 80px;
}
.bp{
    padding: 40px 0;
}


* {
    box-sizing: border-box;
}

.section_row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
