.menu {
  background: #fff;
  height: 60px;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
  margin-top: -18px;
  position: relative;
  z-index: 111;
}

  .menu ol {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  .menu > ol {
    max-width: 1000px;
    padding: 0 2rem;
    display: flex;
  }
  .menu > ol > .menu-item {
    flex: 1;
    line-height: 60px;
   }
  .menu > ol > .menu-item:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    bottom: 5px;
    left: calc(50% - 2px);
    background: #FECEAB;
    will-change: transform;
    transform: scale(0);
    transition: transform 0.2s ease;
  }
  .menu > ol > .menu-item:hover:after {
    transform: scale(1);
  }
  .menu-item {
    position: relative;
    line-height: 2.5rem;
    text-align: center;
  }
  .menu-item a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    color: #000;
    text-decoration: none;
    font-family: Open Sans ;
    font-weight: bold;
    text-transform: uppercase;
  }
  .sub-menu .menu-item {
    padding: 0.75rem 0;
    background: #f1f1f1;
    opacity: 0;
    transform-origin: bottom;
    animation: enter 0.2s ease forwards;
  }
  .sub-menu .menu-item:nth-child(1) {
    animation-duration: 0.2s;
    animation-delay: 0s;
  }
  .sub-menu .menu-item:nth-child(2) {
    animation-duration: 0.3s;
    animation-delay: 0.1s;
  }
  .sub-menu .menu-item:nth-child(3) {
    animation-duration: 0.4s;
    animation-delay: 0.2s;
  }
  .sub-menu .menu-item:hover {
    background: #F8B195;
  }
  .sub-menu .menu-item a {
    padding: 0 0.75rem;
  }
  @media screen and (max-width: 600px) {
     
  }
  
  @media screen and (max-width: 600px) {
   
  }
  
  .sub-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
  }
  .menu-item:hover > .sub-menu {
    display: block;
  }
  
  @media screen and (max-width: 600px) {
    .sub-menu {
       display: none;
    }
  }
  
  
  @keyframes enter {
    from {
      opacity: 0;
      transform: scaleY(0.98) translateY(10px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

  @media (max-width: 767px) {
    nav.menu {
        display: none;
    }
    .top_bar_menu {
        display: none;
    }
    .slicknav_menu {
        display:block;
    }
    span.slicknav_menutxt {
        display: none !important;
    }
    
    .menu-item a {
        color: #fff;
        text-align: left;
    }
    
    ol.sub-menu {
        margin: 0;
        padding: 0;
    }
    
    ol.sub-menu {
        z-index: 99999;
        position: relative;
    }
    
    ol.sub-menu li a {
        color: #000;
    }
    ol.sub-menu {
        z-index: 99999;
        position: relative;
    }
    
    ol.sub-menu li a {
        color: #000;
    }
    
    li.menu-item {
        padding: 0 !important;
    }
    
}

@media (max-width: 479px) {
    nav.menu {
        display: none;
    }
    .top_bar_menu {
        display: none;
    }
    .slicknav_menu {
        display:block;
    }
    span.slicknav_menutxt {
        display: none !important;
    }
    
    .menu-item a {
        color: #fff;
        text-align: left;
    }
    
    ol.sub-menu {
        margin: 0;
        padding: 0;
    }
    
    ol.sub-menu {
        z-index: 99999;
        position: relative;
    }
    
    ol.sub-menu li a {
        color: #000;
    }
    ol.sub-menu {
        z-index: 99999;
        position: relative;
    }
    
    ol.sub-menu li a {
        color: #000;
    }
    
    li.menu-item {
        padding: 0 !important;
    }
}
